@using System.Security.Claims
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using EnglishBattle.Web.Resources;

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    string? username = User.FindFirstValue(ClaimTypes.Name) ?? "stranger";

    // Defining returnUrl for culture
    string? page = Context.Request.RouteValues["page"]?.ToString();
    string returnUrl = page ?? "/Index";

    bool isAuthenticated = false;

    if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        isAuthenticated = true;
    }

    IRequestCultureFeature? requestCulture = Context.Features.Get<IRequestCultureFeature>();
    List<SelectListItem>? cultureItems = LocOptions.Value.SupportedUICultures?
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EnglishBattle.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EnglishBattle.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">EnglishBattle.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (isAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/EnglishBattle">Game</a>
                            </li>

                            @if (User.IsInRole("User"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Ladder">Ladder</a>
                                </li>
                            }
                        }

                    </ul>
                    <ul class="navbar-nav flex-grow">
                        @if (isAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <strong>
                                        <span>@SharedResources.Welcome, @username.</span>
                                    </strong>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a asp-area="" asp-page="/Index" asp-page-handler="Logout" class="dropdown-item">@SharedResources.Logout</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Register">@Register.Title</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login">@Login.Title</a>
                            </li>
                        }
                        @if (requestCulture is not null)
                        {
                            <li class="nav-item">
                                <div class="pt-2">
                                    <form asp-page="Index"
                                      asp-page-handler="SetCulture"
                                      asp-route-returnUrl="@returnUrl"
                                      method="post"
                                      class="form-horizontal">
                                        <select name="culture" onchange="this.form.submit();"
                                            asp-for="@requestCulture.RequestCulture.UICulture.Name"
                                            asp-items="cultureItems">
                                        </select>
                                        <span class="@SharedResources.LanguageIcon"></span>
                                    </form>
                                </div>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - EnglishBattle.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>