@page
@model EnglishBattle.Web.Pages.EnglishBattleModel

@using System.Text.Json
@using EnglishBattle.Web.Resources

@{
}

<input type="hidden" id="userId" asp-for="@Model.UserID" />
<input type="hidden" id="gameId" asp-for="@Model.GameID" />

<div class="row justify-content-center">
    <div class="col-md-4 col-sm-12 text-center">
        <div class="card border-secondary">

            @*Timer*@
            <div id="timer" class="card-header">

                @{
                    await Html.RenderPartialAsync("_TimerPartial");
                }

            </div>

            <div class="card-body">
                @*Score*@
                <div class="row">
                    <div class="col">
                        <h3>SCORE: <span id="game-score">0</span></h3>
                    </div>
                </div>
                @*BaseForm*@
                <div class="row">
                    <div class="col py-0 pb-2">

                        <div id="hints" class="overflow-hidden pb-md-2 pb-sm-1"></div>

                        <div class="input-icons">
                            @*<i id="success_icon" class="fas fa-check icon success"></i>
                            <i id="failure_icon" class="fas fa-times icon error"></i>*@
                            <input ID="baseForm" runat="server" placeholder="@Game.BaseForm" class="form-control" disabled/>
                        </div>

                    </div>
                </div>
                @*PastPrinciple*@
                <div class="row">

                    <div class="col pb-2">
                        <input ID="pastParticiple" runat="server" placeholder="@Game.PastParticiple" class="form-control" autocomplete="off" />
                    </div>

                </div>
                @*Preterit*@
                <div class="row">

                    <div class="col pb-2">
                        <input ID="pastSimple" runat="server" placeholder="@Game.PastSimple" class="form-control" autocomplete="off" />
                    </div>

                </div>
            </div>

            <div class="card-footer">
                @*Button*@
                <div class="row">
                    <div class="col">

                        <button id="playButton" class="btn btn-success" type="button">Chargement</button>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">

                        <div class="form-check form-switch" style="width: 100px;">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Infinite</label>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/b144ade453.js" crossorigin="anonymous"></script>
    <script src="~/js/timer.js"></script>
    <script src="~/js/englishbattle.js"></script>

    <script type="text/javascript">

        const _irregularVerbs = @Json.Serialize(Model.IrregularVerbs);

        const _timer = new Timer(60);
        const _game = new EnglishBattle(@Model.GameID, _irregularVerbs);

        $(document).ready(function () {
            $("#success_icon").hide();
            $("#failure_icon").hide();

            var _gameId = parseInt($("#gameId").val());
            var _userId = parseInt($("#userId").val());

            var baseFormInput = $("#baseForm");
            var pastSimpleInput = $("#pastSimple");
            var pastParticipleInput = $("#pastParticiple");
            var hintListDiv = $("#hints");

            var _verb = null;

            function nextHint(hint) {
                var hintToPrepend = `<div class="" style="opacity: 0.3;">${hint}</div>`;

                $(hintToPrepend).hide().prependTo(hintListDiv).fadeIn();
            }

            function nextVerb(verb) {
                baseFormInput.val(verb);
                pastSimpleInput.val("").focus();
                pastParticipleInput.val("");
            }

            function gameOver() {
                console.log("timeout");
            }

            /*
                Play button click event
            */
            $("#playButton").click(function () {

                $(this).attr("disabled", true);

                _game.NewGame(_timer.getTimeStamp());
                _timer.start(gameOver);

                _verb = _game.GetNextVerb();
                var hints = _game.GetHints();

                nextVerb(_verb.baseForm);

                for (let hint of hints) {
                    nextHint(hint);
                }
            });

            /*
                Keypress "Enter" event
            */
            $(document).keypress(function () {
                let pastSimpleVal = pastSimpleInput.val();
                let pastParticipleVal = pastParticipleInput.val();

                if (event.key == "Enter") {
                    var isEmpty = pastSimpleVal != "" && pastParticipleVal != "";

                    if (_game.IsValidAnswer(pastSimpleVal, pastParticipleVal)) {
                        baseFormInput.addClass("is-valid").removeClass("is-invalid");
                    }
                    else {
                        baseFormInput.addClass("is-invalid").removeClass("is-valid");
                    }

                    _game.PostAnswer(pastSimpleVal, pastParticipleVal, _timer.getTimeStamp());

                    _verb = _game.GetNextVerb();

                    nextVerb(_verb.baseForm);
                    nextHint(_game.GetNextHint());
                }
            });

            $("#pastSimple, #pastParticiple").focus(function () {
                // Disable errors
                //baseFormInput.delay(300).removeClass("is-invalid").removeClass("is-valid");
            });

            $("#pastSimple, #pastParticiple").keypress(function () {
                // Disable errors
                //baseFormInput.delay(300).removeClass("is-invalid").removeClass("is-valid");
            });

        });

    </script>

}