@page
@model EnglishBattle.Web.Pages.Shared.LoginModel
@using EnglishBattle.Web.Resources
@using Microsoft.AspNetCore.Mvc.ModelBinding

@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="alert alert-danger" role="alert">
        @Model.Error
    </div>
}

<div class="form-wrapper">
    <div class="card">
        @*Title*@
        <div class="card-header text-center">
            <h3>@Login.Title</h3>
        </div>

        <div class="card-body">
            <form method="post">
                @*UserName*@
                <div class="row justify-content-around mb-3">

                    <div class="col-md-6">
                        <input id="username"
                               asp-for="@Model.UserName"
                               type="text"
                               class="form-control form-default"
                               placeholder="@SharedResources.Username" />
                        <span asp-validation-for="@Model.UserName" class="validation-error"></span>
                    </div>
                </div>
                @*Password*@
                <div class="row justify-content-around mb-3">

                    <div class="col-md-6">
                        <input id="password"
                               asp-for="@Model.Password"
                               type="password"
                               class="form-control form-default"
                               placeholder="@SharedResources.Password" />
                        <span asp-validation-for="@Model.Password" class="validation-error"></span>
                    </div>

                </div>
                @*Anonymous*@
                @*<div class="row justify-content-around mb-3">

                <div class="col-md-6">
                <input id="isAnonymous"
                asp-for="@Model.IsAnonymous"
                type="checkbox"
                class="form-check-input"
                placeholder="@SharedResources.Password" />
                <label asp-for="@Model.IsAnonymous" class="form-check-label"></label>
                </div>

                </div>*@
                <div class="row text-center">

                    @*Submit Button*@
                    <div class="col-md-12">
                        <button id="loginButton" type="submit" class="btn btn-primary">
                            @Login.SubmitButton
                        </button>
                    </div>

                </div>
            </form>
        </div>

        <div class="card-footer text-center">
            @*Register Button*@
            <span>
                @Login.RegisterQuestion <a asp-area="" asp-page="/Register">@Login.RegisterButton</a>
            </span>
        </div>

    </div>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">

        $(document).ready(function () {

            $("#isAnonymous").change(function () {
                $("#username").prop("disabled", this.checked);
                $("#password").prop("disabled", this.checked);

                $("form").attr("formnovalidate", this.checked ? "formnovalidate" : null);
            });
        });

    </script>

    }