@page
@using EnglishBattle.Web.Resources
@model EnglishBattle.Web.Pages.RegisterModel
@{
}

<div class="form-wrapper">
    <div class="card">
        @*Title*@
        <div class="card-header text-center">
            <h3>@Register.Title</h3>
        </div>

        <div class="card-body">
            <form method="post">
                <div class="row justify-content-around mb-3">

                    @*UserName*@
                    <div class="col-md-6">
                        <input asp-for="@Model.UserName"
                               type="text"
                               class="form-control form-default"
                               placeholder="@SharedResources.Username" />
                        <span asp-validation-for="@Model.UserName" class="validation-error"></span>
                    </div>

                </div>
                <div class="row justify-content-around mb-3">

                    @*Password*@
                    <div class="col-md-6">
                        <input asp-for="@Model.Password"
                               type="password"
                               class="form-control form-default"
                               placeholder="@SharedResources.Password" />
                        <span asp-validation-for="@Model.Password" class="validation-error"></span>
                    </div>

                </div>
                <div class="row justify-content-around mb-3">

                    @*Confirm Password*@
                    <div class="col-md-6">
                        <input asp-for="@Model.ConfirmPassword"
                               type="password"
                               class="form-control form-default"
                               placeholder="@Register.ConfirmPassword" />
                        <span asp-validation-for="@Model.ConfirmPassword" class="validation-error"></span>
                    </div>

                </div>
                <div class="row text-center mb-3">

                    @*Submit Button*@
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">@Register.Button</button>
                    </div>

                </div>
            </form>
        </div>

        <div class="card-footer text-center">
            @*Login Button*@
            <span>@Register.LoginQuestion <a asp-area="" asp-page="/Login">@Register.LoginButton</a></span>
        </div>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }